main {
    width: 75%;
    margin: 0 auto;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer {
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 28px;
    background-color: #000;
    color: #fff;
}
#content {
    width: 100%;
    margin: 0 auto;
}
ul li {
    width: 20px;
    margin: 15px;
    font-size: 24px;
    list-style: none;
    cursor: pointer;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: ease all .4s;
}
ul li:hover {
    background-size: 100% 2px;
    transform: scale(1.02)
}